
.header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    min-height: 10%;
    max-height: 15%;
    max-width: 100%;
    padding-left: 10px;
    /* border: 1px solid red; */
    background-color: var(--green);

}

.margin-div-header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height:100%;
    width: 100%;
    padding: 0 4rem 0 4rem;
}



.margin-div-header > a > img {
    height: 160%;
    width: 160%;
    /* min-width: 80px;
    max-width: 150px; */
}
.margin-div-header > a {
    display: flex;
    height: 100%;
    width: 10%;
}
 .navlinks > h1, .title  {
    margin: 0;
    padding: 0;
    height: 70%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 5px;
    font-size: 18px;
    color: var(--main-yellow);
    
} 

 .title > a {
    color: var(--white);
    font-size: medium;

}
.navlinks {
    display: flex;
    height: 50%;
    width: 40%;
    justify-content: flex-end;
    gap: 30px;
}

.logo{
    color: white;
}

.button-username {
    display: flex;
    align-items: center;
    width: 20rem;
    justify-content: space-around;
}
.button-username > img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.button-username > p {
    color: var(--white);
}
