@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

html, body , #__next{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
  background-color:rgba(0, 0, 0, 0.4);
  /* opacity: 0.4;
  filter: alpha(opacity=40); */
  /* /* background-size: cover; */
  
  font-family: 'Poppins';
}
:root {
  --main-yellow: #eeeeee;
  --green: #1C7C54;
  --white: #eeeeee;
  --orange: #E2A140;
  --gray: #737373
}