/* main div and background divs */

.main-div {

    height: 80%;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--white);
    
}

.top-div {
    height: 70%;
    min-width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-image: url('../public/landing-page.jpg');
    background-repeat: no-repeat;
    background-size: 100% 115%;

}

.feature {
    background: rgba(0, 0, 0, 0.4);
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}


/*--center field--*/

.margin-div {
    height: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: middle;
    padding: 0 4rem 0 4rem;
    flex-direction: column;
}

.top-middle-div {
    height: 85%;
    max-width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 0 4rem 0 4rem;
}

.middle-div {
    height: 15%;
    width: 40%;
    align-items: center;

}

.middle-div h1 {
    color: var(--white);
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1.2rem;
}

/*-- search box --*/

.searchBox-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    min-height: 45vh;
    max-height: 55vh;
    width: 52%;
    padding: 2%;
    /* border-radius: 10px; */
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background-color: var(--white);
    opacity: 200%;
    border: 1px solid var(--green);
    transform: translate(0px, 1rem);
}

/*-- top search field --*/

.top-search-div {
    display: flex;
    height: 20%;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    font-size: small;
}


/* --service input field-- */
.pet-service {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    float: left;
    font-size: medium;
}

.select-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    float: left;
}

.luggage-icon {
    position: absolute;
    /* margin:28px 10px; */
    margin: 0.5em 0.5em;
    width: 23px;
    height: 23px;
    margin-right: 4px;
    float: left;
}

.select-div>select {
    border: 1px solid var(--green);
    /* border-radius: 5px; */
    height: 5vh;
    line-height: normal;
    color: #282828;
    display: block;
    /* width: 30vh; */
    width: 90%;
    /* box-sizing: border-box; */
    user-select: auto;
    font-size: 10px;
    padding: 0 6px;
    /* padding-left: 12px;  */
    padding-left: calc(1em + 10px + 15px);
    /* text-align: center; */

}

/*--search input field--*/
.input-box-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    float: left;
    font-size: medium;
}

.search-icon {
    position: absolute;
    margin: 2.2em 0.5em;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    float: left;
}


.input-field {
    border: 1px solid var(--green);
    /* border-radius: 5px; */
    height: 5vh;
    line-height: normal;
    color: #282828;
    display: block;
    /* width: 30vh; */
    width: 90%;
    /* box-sizing: border-box; */
    user-select: auto;
    font-size: 10px;
    padding: 0 6px;
    /* padding-left: 12px;  */
    padding-left: calc(3em);
    /* text-align: center; */
}




/* second search div */

/* for what type of pet (radio div)*/

.second-search-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    width: 100%;
}

.radio-div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    /* gap: 1vw; */
    /* flex-direction: column; */
    /* width: 30vw; */
    width: 40%;
    height: 100%;
    /* border: 2px solid transparent; */
    
}

.radio-div>form {
    width: 100%;
    height: 100%;
}

.pet-radio {
    /* border: 1px solid grey; */
    width: 100%;
    height: 100%;
}

.pet-radio>legend {
    font-size: medium;
}

.pet-radio-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.input-radio-div {
    width: 100%;
}

.input-radio-div>img {
    position: absolute;
    margin: 0.5em 0.5em;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    float: left;
}

.input-radio-div>label {
    background-color: white;
    color: #282828;
    font-size: 12px;
    border-color: grey;
    border-radius: 0;
    width: 100%;
    padding-left: calc(1em + 10px + 15px);

}

.budget-label {
    font-size: medium;
}


/* .checkboxes {
    display: flex;
    align-items: center;
}
.checkboxes > input {
    display: flex;
    width: 30px;
    height: 40px;
    

}
.checkboxes > label {
    font-size: 25px;
} */


/* price slider */

.price-slider {
    width: 50%;
    /* background-color: black; */
    border: 3px solid black;
    display: flex;
    align-items: center;
    align-content: center;
}

.chakra-slider {
    width: 100%;
    min-height: 20px;
    height: 100%;
    /* background-color: grey; */
    /* position: fixed; */
}

/*third search div*/

.toggle-box-service {
    display: flex;
    min-height: 5vh;
    width: 100%;
    border: 1px solid var(--green);
    /* border-radius: 5px; */
}


.third-search-div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 20%;
    width: 100%;
}

.third-search-div>a {
    display: flex;
}

.number-input {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    min-width: 3vh;
    max-width: 10vh;
}

.react-datepicker-wrapper {
    display: flex;
    height: 100%;
    width: 10vh;
}

.react-datepicker__input-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.react-datepicker__input-container>input {
    display: flex;

    height: 100%;
    width: 100%;
}

.chakra-numberinput {
    display: flex;
    width: 100%;
}

.chakra-numberinput>input {
    width: 100%;
}

.btn-check {
    display: flex;
    text-align: center;
    background-color: var(--orange);
    width: 5vw;
}



/* search now button*/


.search-icon2 {
    margin: 1em 0.5em;
    position: absolute;
    width: 26px;
    height: 26px;
    margin-right: 4px;
    float: left;
    fill: currentColor;
    color: var(--white);
}


/* tagline div */

.tagline-div {
    border: transparent;
    min-height: 40%;
    max-height: 40%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    align-content: space-between;
    border-radius: 15px;
    background-color: transparent;
    /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
    padding: 0;
}

.tagline-div>h1 {
    font-size: xx-large;
    text-align: left;
    color: #EEEEEE;
}

/* .tagline-div > p {
    color: var(--green);
    font-size: large;
} */


/* bottom div */

.bottom-div {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

.bottom-margin-div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: middle;
    padding-top: 1rem;
    flex-direction: column;
}

.bottom-margin-div>h1 {
    text-align: center;
    font-size: medium;
    color: black;
    padding: 0 0 0.5em 0;
    font-size: large;
}

.bottom-margin-div>p {
    text-align: center;
    font-size: small;
    color: black;
    /* padding: 0.5em 0; */
}

/* -How does Pet'Brb work?- Div */

.bottom-margin-div>div {
    height: 4em;
    width: 100%;
    color: #282828;
    display: flex;
    justify-content: center;
    font-size: 10px;
    align-items: center;
    ;

}

.step1-icon {
    position: relative;
    width: 30px;
    height: 30px;
}

.step1-div>p {
    padding-left: calc(2em);
    text-align: center;
    font-size: medium;
}

.step2-icon {
    position: relative;
    width: 30px;
    height: 30px;
}


.step2-div>p {
    padding-right: calc(2em);
    text-align: center;
    font-size: medium;
}



.step3-icon {
    position: relative;
    width: 30px;
    height: 30px;
}

.step3-div>p {
    padding-left: calc(2em);
    text-align: center;
    font-size: medium;
}

.price-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}

.price-container h5 {
    font-size: small;
}

.price-input {
    display: flex;
    height: 100%;
    width: 100%;
}

.minPrice-container,
.maxPrice-container {
    display: flex;
    flex-direction: column;
}

.budget {
    height: 70%;
    width: 40%;
    border-color: var(--green);
}

.budget-warning {
    font-size: x-small;
    height: 10%;
    color: rgb(247, 41, 41);
}

.btn-primary {
    columns: var(--green);
}

.input-radio-div label:hover {
    background-color: var(--green);
}