.search-filter-navbar {
    display: flex;
    justify-content: center;
    background-color: #EEEEEE;
    height: 3rem;
    /* border: 2px solid blue; */
    /* margin: 0px 170px 0px 170px;  */
    filter: drop-shadow(0px 5px 4px #d3d3d5);
    padding: 0.5rem;
    
}

.pet-type {
    /* margin-right: 20px; */
    display: flex;
    min-height: 90%;
}

.toggle-box-type-pet {
    width: 100%;
}
.search-pet-service {
    display: flex;
    /* min-height: 5vh; */
    /* width: 200px; */
    height: 100%;
    width: 100%;
    /* border-radius: 5px; */
    /* margin-right: 20px; */
}
.search-pet-service select {
    height: 100%;
    width: 100%;
}

.search-page-main-div {
    display: flex;
    /* border: 2px solid red; */
    width: 100%;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    min-height: 80vh;
    background-color: #CECECE;
}
.white-main-div {
    display: flex;
    width: 80%;
    min-height: 80vh;
    justify-content: space-between;
    background-color: var(--white);
    padding-top: 0.5rem;
}

.search-result {
    /* border: 2px solid green; */
    width: 50%;
    height: 100%;
    
}
.navbar-container-search{
    display: flex;
    height: 100%;
    width: 60%;
    justify-content: space-around;
}

.navbar-button-div button {
    border-color: var(--green);
}

 .sign-up:hover {
     border: 1px solid var(--white) ;
 }


.navbar-input-fieald, .pet-type, .search-pet-service, .navbar-button-div{
    padding: 0;
    margin: 0;
    height: 90%;
    width: 20%;
}
.serach-toggle-box-service {
    height: 100%;
    width: 100%;
}
.navbar-input-fieald input {
    height: 85%;
}

.white-main-div > .p-tag{
    position: absolute;
    color: black;
    font-size: small;
    text-align: center;
    /* line-height: 100px; */
    display: flex;
    margin: 10%;
    padding: 5rem 0;
}

/* to center error message for tablet or lansdscape view */
@media(max-width: 1050px){
    .white-main-div > .p-tag{
        width: 10rem;
    }
}

@media(max-width:800px){
    .search-filter-navbar{
        padding: 0.5rem 0rem;
    } 

    .navbar-container-search{
        width: 100%;
        justify-content: space-between;
        padding: 0.5rem;
    }


    .navbar-input-fieald, .pet-type, .search-pet-service, .navbar-button-div{
        width: 100%;
    }

    .navbar-input-fieald input {
        width: 100%;
    }

    .navbar-container-search > .navbar-button-div{
        width: 100%;
        padding-left: 0.5rem;
        
    }

    .navbar-button-div > a > button {
        min-width: 100%;
        min-height: 100%;
        font-size: 0.8rem;
    }

    .white-main-div{
        width: 95%;
        flex-direction: column;
        gap: 2rem;
       }

    .white-main-div > .p-tag{
        position: relative;
        margin: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
     
    }   

    .white-main-div > div {
        width: 95%;
       }

    .map-div {
        padding: 1rem;
    }
}

/* for small mobile size */
@media(max-width:550px){

   .display-card {
    flex-direction: column;
   }

   .display-card > img {
    min-width: 100px;
    min-height: 100px;
   }

   .display-card > .main-taglines {
    max-width: 100%;
   }

   .main-taglines > h2 {
    text-align: justify;
   }


}