footer {
    display: flex;
    max-height: 10%;
    min-height: 10%;
    max-width: 100%;
    background-color: var(--darkblu);
    color: var(--main-yellow);
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem ;
    
 
}
footer > h2, a > h2 {
    font-size: larger;
}
footer > a {
    display: flex;
    max-height: 10%;
    max-width: 100%;
    background-color: var(--darkblu);
    color: var(--main-yellow);
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem ;
}