.display-card-button{
display: flex;
align-items: center;
justify-content: space-between;
width : 98%;
max-height : 100%;
background-color: rgb(241, 243, 245);
padding: 1%;
margin: 1%;
}

.display-card {
    /* border : 1px solid black; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    min-width : 95%;
    max-height : 95%;
    background-color: rgb(241, 243, 245);
    /* margin: 1%; */
    padding: 1%;
    /* border-radius: 10px; */
    /* filter: drop-shadow(0 0 0.75rem rgb(157, 153, 153)); */
    /* box-shadow: 10px 10px 10px -10px #888; */
    /* border: 1px solid gray; */
    margin: 1%;
    /* flex: 1; */
    
    
}



.display-card:hover {
   transform:scale(1.03);
   cursor: pointer;
}
.display-card > img {
    display: flex;
    max-height: 120px;
    min-height: 120px;
    max-width: 120px;
    min-width: 120px;
    border-radius: 100%;
    /* border: 1px solid var(--green); */
    image-rendering: crisp-edges;
    /* filter: drop-shadow(0 0 0.75rem rgb(157, 153, 153)); */
    margin: 2%;
}

.search-page-main-div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(246, 246, 246, 246);
}
.main-taglines {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    width: 300px;
}
.main-taglines h1, h3, h2, p {
    margin: 0;
    padding: 0;
    /* display: flex; */
}
.main-taglines > h1{
   font-weight: 700;
   font-size: 25px;
   margin: 2px, 0px, 2px, 0px;
   /* border: 1px solid blue; */
   color:black;
   
}
.main-taglines > h2{
    font-weight: 300;
    color: gray;
    font-size: medium;
    font-style: italic;
    margin: 3px 0px 3px 0px;
    max-width:85%;
    text-align: left;
 }

 .main-taglines > h3 {
    font-weight: 300;
 }

 .email-and-icon-div {
    display: flex;
    /* border: 2px solid pink; */
    /* max-width:85%;  */
    max-width: 100%;
    /* min-width: 90%; */
    /* width: 90%; */
    height: 30px;
    align-items: center;
    color: rgb(200, 162, 24);
    justify-content:flex-start;
 }

 .email-and-icon-div > p {
    /* margin-left: 2%; */
    margin-left: 0.5rem;
    width: 100%;
    text-align :left;
    /* white-space: pre-wrap; */
    word-break: break-word;
 }
 .rate {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 1%;
    /* border:1px solid orange; */
 }
 .rate > p, h1{
    margin: 0;
    padding: 0;
    color: var(--green);
 }
 .card-div {
    display: flex;
    margin: 0;
    padding: 0;
    max-height: 120;
    min-width: 100%;
    justify-content: center;
    max-width: 100%;
 }

 .card-div > a {
   min-width: 95%;
   /* max-width: 95%;
   display: flex;
   justify-content: space-around; */
 }
 